body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 100vh;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.container {
    height: 512px;
    width: 288px;
    overflow: hidden;
    border: 2px solid black;
    background-color: white;
    position: relative;
}
.container2{
    height: 512px;
    width: 288px;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
}

.background {
    position: absolute;
    z-index: 5;
}



/* -----
pipe
-------- */
.uppipe {
    position: absolute;
    rotate: 180deg;
    width: 52px;
    object-fit: cover;
    object-position: top;
    z-index: 8;
}

.downpipe {
    position: absolute;
    width: 52px;
    object-fit: cover;
    object-position: top;

    bottom: 20%;
    z-index: 8;
}
.uppipe, .downpipe {
    animation: pipemove 2s ease infinite;
    animation-timing-function: linear;
}
@keyframes pipemove {
    from {
        right: -52px;
    }
    to {
        right: 345px;
    }
}

/* ------------
base
------------ */
.base {
    position: absolute;
    bottom: 0%;
    z-index: 10;
    animation: basemove 0.243s ease infinite;
    animation-timing-function: linear;
}
@keyframes basemove {
    from {
        left: 0;
    }
    to {
        left: -48px;
    }
}

/* -----------
bird
------------- */
.bird {
    position: absolute;
    z-index: 9;
    left: 20px;
    top: 50%;
}

/* ----------
score
---------- */
.score {
    position: absolute;
    z-index: 9;
    top: 2px;
    right: 10px;
    color: white;
}
 